{% extends "layout.html" %}


{% block page_content %}
	<h2>Working</h2>
	{{ filename }}
	{{ user }}


	<div class="row">
		<div class="col-md-12">
			<img class="img-responsive" width="70%" height="70%" src=" {{ url_for('main_bp.send_image', filename=filename) }}">
		</div>
	</div>

	<div class="row">	
		<form name = "descForm" method="post" action="{{ url_for('main_bp.add_metadata', filename=filename, username=user) }}">
			<div class="col-lg-12">

				{% if prev %}
					{% for i in prev %}
						
						<div id="inputFormRow">
							<div class="input-group mb-3">
								<input type="text" name="desc-{{loop.index}}" class="form-control m-input" value="{{ i }}" autocomplete="off">
								<div class="input-group-append">                
									<button id="removeRow" type="button" class="btn btn-danger">Remove</button>
								</div>
							</div>
						</div>
					{% endfor %}
				{% endif %}
	
				<div id="newRow"></div>
				<button id="addRow" type="button" class="btn btn-info">Add Row</button>

				<button class="btn btn-primary" type="submit">Submit form</button>
			</div>
			
		</form>
	</div>

	<h3>OUTPUT: </h3>
	
	{% if inps %}
		<h2>INPS</h2>
		{% for cp in inps %}
			<p>{{ cp }} </p>
		{% endfor %}
	{% endif %}

	{% if prev %}
		<h2>PREV</h2>
		{% for cp in prev %}
			<p>{{ cp }} </p>
		{% endfor %}
	{% endif %}

	
	<div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
	
{% endblock %}

{% block javascript %}
  {{ super() }}
  <script type="text/javascript" src="{{ url_for('static', filename='main/metadata-input.js') }}"></script>
{% endblock %}
