{% extends "layout.html" %}

{% block head %}
  <title>Main</title>
{% endblock %}

{% block page_content %}

  <h1>Hi, {{ current_user.username }}!</h1>

  {% include 'upload.html' %}

  <div>
    {% if current_user.is_anonymous %}
      <a href="{{ url_for('login_bp.login') }}">Login</a>
    {% endif %}
  </div>

  {% if post %}
    {% for post in posts %}
      <div>
        <p>{{ post.author.username }} says: <b>{{ post.body }}</b></p>
      </div>
    {% endfor %}
  {% endif %}


  <div class="container">

    <div class="row">

        {{image_names}}
        <hr>
        {% for image_name in image_names %}
        <div class="col-lg-3 col-md-3 col-xs-6 thumb">
            <a href="{{url_for('main_bp.add_metadata', current_user=current_user, filename=image_name)}}">
              <img class="img-responsive" width="200px" height="200px" src=" {{ url_for('main_bp.send_image', filename=image_name) }}">
            </a>
        </div>
        {% endfor %}
    </div>
  </div>


{% endblock %}


{% block javascript %}
  {{ super() }}
  <script type="text/javascript" src="{{ url_for('main_bp.static', filename='upload-file.js') }}"></script>
{% endblock %}
